

<div class="card">
    <div class="card-body">
        {{comment_text}}
        <div class="card-text" style="font-weight: bold;">Commented by: {{user.username}} on {{format_date created_at}}</div>
    </div>
    

</div>

