<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-content">
                {{comment_text}}
                <div class="card-text" style="font-weight: bold;">Commented by: {{user.username}} on {{format_date
                    created_at}}</div>
            </div>
        </div>
    </div>
</div>