<div class="card hoverable" >
  <div class="card-content">
    <a href="/dashboard/edit/{{id}}">
      <h5 class="card-title">{{title}}</h5>
    </a>
    <p class="card-text">{{content}}</p>

  </div>
</div>