<div class="col-12">
    <form class="updatePost-form">
        <div class="card">
            <div class="card-content">
                <h5 class="card-title" style="font-weight: bold;">Edit Post</h5>
                <h6 class="card-title">Title</h6>
                <textarea class="materialize-textarea" id="updateTitle" type="text">{{post.title}}</textarea>
                <h6 class="card-title">Content</h6>
                <textarea class="materialize-textarea" id="updateContent" type="text">{{post.content}}</textarea>
                <button type="submit" class="btn" id"updatePost">Update Post</button>
                <button type="button" class="btn deletePost-btn">Delete</button>
            </div>
        </div>
    </form>
</div>


<script src="/js/updatePost.js"></script>
<script src="/js/deletePost.js"></script>