<div class="col">
    <form class="login-form">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="username" class="form-control" id="username-login" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  {{!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> --}}
  <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
  <div>
  <button type="text" class="btn btn-link" id="signupBtn"> <a href="/signup"> Sign-Up</a></button>
  </div>
</form>
</div>

{{!-- run login script --}}
    <script src="./js/login.js"></script>