<div class="container">

  <div class="row" style="margin-top: 1rem;">
    <form class="col s12 login-form">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="username-login"  type="text" class="validate">
          <label for="username-login">Username</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">lock_outline</i>
          <input id="password-login" type="password" class="validate">
          <label for="password-login">Password</label>
        </div>
      </div>
      <button type="submit" class="btn waves-effect waves-light" id="loginBtn">Login</button>
      <div style="margin-top: 1rem">
        <a href="/signup" id="signupBtn" class="waves-effect waves-teal btn">Sign-Up</a>
        
      </div>
    </form>
  </div>
</div>

{{!-- run login script --}}
<script src="./js/login.js"></script>