<div class="container">
    <form class="newPost-form">
        <div class="mb-3">
            <label for="newPostTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="newPostContent" class="form-label">Post Content</label>
            <textarea class="materialize-textarea" id="content" ></textarea>

        </div>
        <button type="submit" class="btn btn-light mb-2" id"newPost">Submit</button>
    </form>
</div>

<script src="/js/newPost.js"></script>