<div class="col l6">

    {{> postData post}}

    {{#if loggedIn}}
    <div class="row">
        <form class="col newComment-form">
            <div class="row">
                <div class="col  input-field">
                {{!-- <span class="input-group-text">Leave a comment</span> --}}
                <textarea class="materialize-textarea" aria-label="commentTextArea" id="comment_text"></textarea>
                <label for="comment_text">Leave a comment</label>
                <button class="btn" type="submit" id="button-addon2">Comment</button>
                </div>
            </div>
        </form>
    </div>
    {{/if}}
</div>


<div class="col l4 offset-l2">
    <h4 class=" p-2 text-center"> Comment Section</h4>
    {{#each post.comments as |comment|}}
    {{> commentData}}
    {{/each}}

</div>
{{#if loggedIn}}
<script src="/js/addComment.js"></script>

{{/if}}